/* ---------- GENERAL ---------- */
* {
  margin: 0 auto;
  padding: 0;
}

body {
  background-color: #663333;
}

/* ---------- KEYFRAMES ---------- */
@keyframes slideUp {
  0% {
    opacity: 1;
    height: 90vh;
    overflow: hidden;
  }

  100% {
    opacity: 0;
    height: 0;
    overflow: hidden;
  }
}


/* ---------- ANIMATIONS ---------- */
//an element that slides up and fades out
.animate_elem_slideup {
  animation-name: slideUp;
  animation-duration: 5s;
  transition-timing-function: ease-in;
}


/* ---------- NAV ---------- */
nav {
  text-align: center;

  li {
    display: inline-block;
    padding: 10px;
  }

  a {
    color: #ccccff;
    text-decoration: none;
  }
}


/* ---------- HOME ---------- */
// #splash {
//   background-image: url('../images/design.jpg');
//   background-size: cover;
// //  background-position: center;
//   height: 90vh;
// }

/* ---------- PAGES GENERAL ---------- */
#container {
  position: relative;
  max-width: 600px;
}

.page {
  margin-top: 30px;
  position: absolute;
}

#page-home {
  opacity: 1;
  background-color: purple;
  //width: 80%;
}

#page-about {
  opacity: 0;
}

#page-design {
  opacity: 0;
}

#page-dev {
  opacity: 0;
  background-color: blue;
}

/* ---------- HOME PAGE ---------- */

/* ---------- ABOUT PAGE ---------- */
#img-bio {

}

#text-bio {
  background-color: #ad9b97;
  width: 300px;
  height: 300px;
  padding: 20px;
}



/* ---------- DESIGN PAGE ---------- */
// #samp1,
// #samp2,
// #samp3 {
//   width: 100%;
//
//   img {
//     width: 100%;
//   }
//
//   @media (min-width: 560px) {
//     width: 50%;
//     float: left;
//   }
// }

/* ---------- DEVELOPMENT PAGE ---------- */
