//@media screen and (min-width:320px){} // mobile portrait
//@media screen and (min-width:480px){} // mobile landscape
//@media screen and (min-width:768px){} // ipad portrait
//@media screen and (min-width:1024px){} // browser, ipad landscape
//@media screen and (min-width:1200px){} // browser
//@media screen and (min-width:1600px){} // browser


@import 'hamburgers/hamburgers';

/* ---------- GENERAL ---------- */
* {
  margin: 0 auto;
  padding: 0;
  text-decoration: none; // links
  list-style: none; // lists
}

html {
  height: 100%; /* removes scroll "bounce" effect */
  overflow: hidden; /* removes scroll "bounce" effect */
}

body {
  background-color: #663333;
  height: 100%; /* removes scroll "bounce" effect */
  overflow: auto; /* removes scroll "bounce" effect */
}

img {
  display: block; /* removes default gap under images */
}

/* ---------- LINKS ---------- */
  a:link {
    color: #000000;
  }

  a:visited {
    color: #000000;
  }

  a:hover {
    color: #ad9b97;
  }

  a:active {
    color: #ad9b97;
  }

/* ---------- NAV ---------- */
nav {
  text-align: center;
  height: 100px;

  @media (min-width: 480px) {
    margin-bottom: 60px;
  }

  #fixedNav {
    background-color: #efefef; //CHANGE
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    @media (min-width: 480px) {
      display: none;
    }

    #navWrap {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      width: 85%;

      #logo_mobile {
        display: inline-block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
      }

      .hamburger {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        padding: 0;
      }
    }
  } /* end #fixedNav */

  #nav-main {
    display: none;

    @media (min-width: 480px) {
      display: block;
    }

    li {
      display: inline-block;
      padding: 10px;
      vertical-align: middle;
    }

    p {
      display: inline-block
    }

    #logo_tab {

      @media (min-width: 600px) {
        display: none;
      }
    }

    #logo_desk {
      display: none;

      @media (min-width: 600px) {
        display: inline-block;
      }
    }
  }

  #menu-overlay {
    display: none; /* jquery added toggle */
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #efefef; //CHANGE
    z-index: 900;

    @media (min-width: 480px) {
      display: none !important;
    }

    #menu-overlayContent {
      position: relative;
      top: 50%;
      transform: translateY(-50%);

      li {
        padding: 15px;
      }

      a {
        font-size: 1.2em;
      }
    }
  }
} /* end nav */

.current-link {
  border-bottom: 1px solid #000000; //CHANGE COLOR
}

/* ---------- PAGES GENERAL ---------- */
.container {
  min-height: 100px;

  @media (min-width: 480px) {
    background-color: #efefef; //CHANGE
    width: 85%;
    padding-bottom: 60px;
  }
}

.main-page {
  text-align: center;
  margin: 60px 0;

  @media(min-width: 480px) {
    margin: 0;
  }
}

footer {
  height: 80px;
  text-align: center;
  background-color: #fff;

  @media (min-width: 480px) {
    background-color: #663333;
  }

  p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

/* ---------- HOME PAGE ---------- */
#main-home {
  margin: 0;

  div {

    @media (min-width: 1024px) {
      display: inline-block;
    }
  }

  img {
    width: 100%;

    @media (min-width: 480px) {
      width: auto;
    }
  }
}

/* ---------- ABOUT PAGE ---------- */
#bio {

  div {
    vertical-align: top;

    @media (min-width: 1024px) {
      display: inline-block;
    }
  }
}

#img-bio {

  img {
    width: 75%;

    @media (min-width: 480px) {
       width: 350px;
    }
  }
}

#text-bio {
  text-align: justify;
  box-sizing: border-box;
  background-color: #ad9b97;
  width: 75%;
  min-height: 300px;
  padding: 20px;
  margin-top: 20px;

  @media (min-width: 480px) {
    width: 350px;
  }

  @media (min-width: 1024px) {
    margin-top: 0;
    margin-left: 20px;
  }
}

/* ---------- WORK PAGE ---------- */
#main-work {
  margin: 0;

  .workColumn {

    @media (min-width: 1024px) {
      display: inline-block;
    }
  }

  .work {
    display: block;

    @media (min-width: 480px) {
      margin-bottom: 20px;
    }

    a {

      @media (min-width: 480px) {
        display: inline-block; // keeps link ONLY on image
      }
    }

    .mobile_work {

      @media (min-width: 480px) {
        display: none;
      }
    }

    .desk_work {
      display: none;

      @media(min-width: 480px) {
        display: block;
      }
    }
  }

  img {
    width: 100%;

    @media (min-width: 480px) {
      width: auto;
    }
  }
} /* end #main-work */

#workCol1 {

  #proj_appleb {

    @media (min-width: 1024px) {
      margin-bottom: 0;
    }
  }
}

#workCol2 {

  @media (min-width: 1024px) {
    margin-left: 20px;
  }

  #proj_form {

    @media (min-width: 480px) {
      margin-bottom: 0;
    }
  }
}

/* ---------- PROJECTS GENERAL ---------- */
.text-proj {
  text-align: justify;
  box-sizing: border-box;
  background-color: #ad9b97;
  width: 75%;
  min-height: 300px;
  padding: 20px;
  margin-top: 20px;

  @media (min-width: 768px) {
    width: 500px;
  }
}

.info-proj {

  img {
    width: 75%;

    @media (min-width: 768px) {
      width: 500px;
    }
  }
}

/* ---------- PROJECT: ANIMAL CRACKERS ---------- */


#img-proj_ac2,
#img-proj_ac3 {
  margin-top: 20px;
}

/* ---------- PROJECT: APPLEBEES ---------- */


/* ---------- PROJECT: JAZZ POSTER ---------- */


/* ---------- PROJECT: SIGN UP FORM ---------- */



/* ---------- CONTACT PAGE ---------- */
#main-contact {

  p {
    text-align: center;
    font-size: 3.5em;
  }
}

#social {

  .icon {
    padding-top: 30px;

    @media (min-width: 768px) {
      display: inline-block;
    }

    a {
      display: inline-block; // keeps link ONLY on image
    }
  }
}

#email,
#facebook,
#linkedin {

  @media (min-width: 768px) {
    padding-right: 30px;
  }
}
